.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 400;
  margin: 13px 233px 0 0;
}

.u-section-1 .u-list-1 {
  width: 908px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px);
  min-height: 473px;
  grid-gap: 27px 27px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 25px 13px;
}

.u-section-1 .u-image-1 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 25px 0 0 7px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 25px 13px;
}

.u-section-1 .u-image-2 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 25px 0 0 7px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 25px 13px;
}

.u-section-1 .u-image-3 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 25px 0 0 7px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 25px 13px;
}

.u-section-1 .u-image-4 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 25px 0 0 7px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px auto 0;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-table-1 {
  width: 173px;
  margin: -519px auto 0 968px;
}

.u-block-c64f-68 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-block-c64f-76 {
  height: 46px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: -218px auto 0 980px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 0 980px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  margin: 0 48px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  margin: 52px auto 0 980px;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 0 980px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 60px 980px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 294px;
    margin-right: 33px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 20.25px));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-top: -817px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -219px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -3px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1126px;
    grid-auto-rows: calc(50% - 13.5px);
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 20.25px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2249px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 297px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 195px;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-bottom: -9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-2 {
    width: 195px;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-bottom: -9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-3 {
    width: 195px;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-bottom: -9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-4 {
    width: 195px;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
    margin-bottom: -9px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -2231px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -220px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 217px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 217px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 54px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 1px;
    margin-left: 13px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 400;
  margin: 11px 553px 0 0;
}

.u-section-2 .u-list-1 {
  width: 906px;
  margin: 0 auto 11px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px);
  min-height: 484px;
  grid-gap: 27px 27px;
  grid-auto-rows: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 16px 13px;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0 7px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 0 0 7px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 16px 13px;
}

.u-section-2 .u-image-2 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0 7px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 0 0 7px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 16px 13px;
}

.u-section-2 .u-image-3 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0 7px;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 0 0 0 7px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 16px 13px;
}

.u-section-2 .u-image-4 {
  height: 228px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  margin: 20px 0 0 7px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 0 0 0 7px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 0 0;
  padding: 8px 9px 8px 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 353px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 20.25px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 7px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 133px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: 133px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1126px;
    grid-auto-rows: calc(50% - 13.5px);
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 20.25px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2316px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 235px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 235px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    width: 235px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 558px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 400;
  margin: 12px 764px 0 0;
}

.u-section-3 .u-list-1 {
  width: 906px;
  margin: 0 auto 20px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px) calc(25% - 20.25px);
  min-height: 460px;
  grid-gap: 27px 27px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 16px 20px 13px;
}

.u-section-3 .u-image-1 {
  height: 228px;
  margin: 0 4px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 0 0 4px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 4px 0 7px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 4px 0 7px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 4px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 16px 20px 13px;
}

.u-section-3 .u-image-2 {
  height: 228px;
  margin: 0 4px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 0 0 4px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 4px 0 7px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 4px 0 7px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 4px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 16px 20px 13px;
}

.u-section-3 .u-image-3 {
  height: 228px;
  margin: 0 4px 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 0 0 4px;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 4px 0 7px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 4px 0 7px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 4px 0 0;
  padding: 8px 9px 8px 7px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 16px 20px 13px;
}

.u-section-3 .u-image-4 {
  height: 228px;
  margin: 0 4px 0 auto;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 25px 0 0 4px;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  margin: 20px 4px 0 7px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 4px 0 7px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 9px 4px 0 0;
  padding: 8px 9px 8px 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 2px;
    margin-right: 565px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 31px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 20.25px));
    min-height: 426px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 150px;
    height: 176px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-2 {
    width: 150px;
    height: 176px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-3 {
    width: 150px;
    height: 176px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-4 {
    width: 150px;
    height: 176px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-3 .u-text-12 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 11px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 345px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    width: 720px;
    margin-right: 345px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1126px;
    grid-auto-rows: calc(50% - 13.5px);
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3159px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 165px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 20.25px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2295px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2213px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-1 {
    height: 265px;
    width: 230px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-2 {
    height: 265px;
    width: 230px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-3 {
    height: 265px;
    width: 230px;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-4 {
    height: 265px;
    width: 230px;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}